/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 h2 {
	font-family: 'Roboto Condensed', sans-serif;
}

/* Fonts w */



/* header */

.site-header {
	background-color: #03151c;
	height: 76px;
}
.logo {
	display: inline-block;
	float: left;
}
.header-nav {
	display: inline-block;
	float: right;
}
.nav-links li {
	display: inline-block;
	padding: 25px 20px;
}

.nav-links span {
	color: #14e9b6;
}

.nav-link {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	color: #14e9b6;
	text-decoration: none;
}

.nav-link:hover {
	text-decoration: underline;
	color: white;
}

/* hero section */

.hero {
	background-image: url(images/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 480px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}


.hero-heading {
	font-weight: bold;
	font-size: 42px;
	padding-top: 15px;
	color: white;
}
.subheading {
	text-decoration: uppercase;
	font-size: 20px;
	color: white;
}

.hero-heading .subheading {
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	text-align: center;
	display: flex;
}


/* the bod */

.the-bod {
	background-color: #14e9b6;
}

.the-abs {
	width: 90%;
	margin: 0 auto;
	padding: 80px 0 150px;
	display: flex;
	flex-direction: column;

}

.the-abs .contentheader,
.the-abs .mono .the-abs, .copy {
	display: flex;

}

.flex-row {
	display: flex;
}
.contentheader {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	color: #021d2c;
	font-size: 27px;
}

.mono {
	font-family: 'Roboto Mono', monospace;
	font-weight: 18px;
	color: #021d2c;
	line-height: 1.5;

}

.copy {
	font-family: 'Georgia', serif;
	font-size: 16px;
	line-height: 1.2;
	color: #021d2c;
}

.the-abs .content-header {
	margin: 15px 0;
}

.the-abs .mono {
	margin: 15px 0
}

.flex-row .copy {
	margin: 15px 30px;
}

.flex-row .copy:first-of-type {
	margin-left: 0;
}

.thirds {
	margin: 5px;
}



.sidebar {
	background: rgba(20,233,183,1);
	background: -moz-linear-gradient(-45deg, rgba(20,233,183,1) 0%, rgba(10,216,227,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(20,233,183,1) 0%, rgba(10,216,227,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(20,233,183,1) 0%, rgba(10,216,227,1) 100%);
	background: linear-gradient(135deg, rgba(20,233,183,1) 0%, rgba(10,216,227,1) 100%);
	display: inline-block;
	width: 30%;
	padding: 95px 40px 100px 60px;
	vertical-align: top;

}

.sidebaer p.mono {
	margin: 20px 0 25px;
}

.objectives li {
	list-style-type: initial;
	margin: 15px 15px 15px 0;
	font-size: 15px;
}

.objectives {
	margin-left: 15px;
}

/* Schedule */

.schedule {
	display: inline-block;
	width: 40%;
	margin: 60px 70px 80px;
	vertical-align: top;
}

.schedule .contentheader {
	margin: 40px 0 15px;

}

.smallheader {
	font-size: 21px;
}

.linksthree {
	padding: 10px;
	text-align: center;
}
.linkstwo {
	display: inline-block;
	padding: 30px;
	text-decoration: none;
	color: black;
}


.linkstwo:hover {
	text-decoration: underline;
	color: #14e9b6;
}
